:root {
    --menu-color: #212329;
}
header {
    background-color: var(--sec-color);
    padding: 30px 0 0 0;
    transition: 0.5s;
    border-bottom: 7px solid #ccc;
}
header .navbar {
    display: grid;
    grid-template-columns: 3fr 1fr auto;
}

/* Logo */
header .navbar .logo {
    width: 50px;
}

/* Menu Toggle */
.menu-toggle  {
    width: 25px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 35%;
    right: 5%;
    transform: translate(35% , 5%)
}
.menu-toggle .bar {
    width: 100%;
    background-color: #fff;
    height: 3px;
    margin-bottom: 5px;
    transition: var(--main-duration);
    display: none;
}
.menu-toggle .bar:last-child {
    margin-bottom: 0;
}

/* Nav Menu */
header .navbar .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    text-align: center;
    margin-bottom: -7px;
}
header .navbar .nav-menu .nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0px 40px;
    float: left;
    height: 50px;
    border-bottom: 7px solid #ccc;
}
header .navbar .nav-menu .nav-links.less-height {
    height: 45px;
    transition: 0.5s;
}
@media (min-width: 768px) and (max-width: 991.98px){
    header .navbar .nav-menu .nav-links {
        padding: 0px 20px;
    }
}
header .navbar .nav-menu .nav-links:hover {
    border-bottom: 7px solid #10cab7;
}
header .navbar .nav-menu .nav-links.active {
    color: #10cab7;
    border-bottom: 7px solid #10cab7;
}
.header.fixed-menu {
    position: fixed;
    width: 100%;
    background-color: var(--menu-color);
    padding: 20px 0 0 0;
    z-index: 999;
    opacity: 0.9;
    transition: 0.5s;
}
@media (max-width: 767.98px) {
    header {
        position: relative;
        padding: 30px 0 30px 0;
        transition: none;
    }
    header .navbar .nav-menu {
        display: grid;
        grid-template-columns: auto;
        gap: 0;
        background-color: var(--main-color);
        position: absolute;
        width: 100%;
        top: 80px;
        left : -100%;
        opacity: 0;
        transition: var(--main-duration);
        z-index: 999;
    }
    header .navbar .nav-menu .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        padding: 0;
        border: 0;
        border-radius: 0;
    }
    header .navbar .nav-menu .nav-links:hover {
        color: #2c4755;
        background-color: #fff;
        border: 0;
        transition: var(--main-duration);
    }
    header .navbar .nav-menu .nav-links.active {
        color: #fff;
        background-color: var(--main-color);
        border: 0;
        transition: var(--main-duration);
    }
    header .navbar .nav-menu.active {
        background-color: var(--menu-color);
        left: 0;
        opacity: 1;
        transition: 0.3s ease-out;
    }
    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-last-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }
    #mobile-menu.is-active .bar:nth-last-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-last-child(3) {
        transform: translateY(8px) rotate(45deg);
    }
    .header.fixed-menu {
        background-color: var(--menu-color);
        padding: 20px 0;
        opacity: 1;
    }
    header .navbar .nav-menu.opacity-less {
        opacity: 0.9;
        top: 60px;
        transition: 0.5s;
    }
}